
/*

<link rel=stylesheet href="https://bitbucket.org/eduardoarandah/sabm-hospital-theme/raw/HEAD/style.css?v=<?php echo uniqid(); ?>" type="text/css">
*/


/* border in menu */
.uk-navbar-nav li{
    position: relative;
}

.uk-navbar-nav li:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 41px;
    background-color: white;
    right: 0;
    top: 24%;
}

.uk-navbar-nav li:last-child:after {
    display: none;
}
/* border in menu */

.imglink {
    cursor: pointer;
}